extends layout
 

block content
  div(class="jumbotron")
    //h1 #[span(class="fa fa-lock")] Node Authentication
    // show any messages that come back with authentication
    if user
      form(action="/" method="post")
          ul(class="nav nav-tabs")
            each tab,i in clans 
              li #[a(data-toggle="tab" href="/#tab" + (clans.indexOf(tab)))=tab.tag]
            if user.clans.length < 3
              li(class='active') #[a(data-toggle="tab" href="#addClan") #[span(class="glyphicon glyphicon-search")] Search clan]
            if user.clans.length > 0
              li #[a(data-toggle="tab" href="#delClan") #[span(class="glyphicon glyphicon-minus-sign")] Rem clan]              
          div(class="tab-content")
            each cnt, i in clans 
              div(id="tab" + (i) class="tab-pane fade")
                //Principal
                div(class="media" style="margin-top:15px;")                   
                  div(class="media-left")
                    image(src=cnt.badgeUrls.small)
                  div(class="media-body")
                    ul(class="list-group")
                      li(class="list-group-item")
                        h4(class="media-heading")= cnt.name
                        = cnt.description
                    table(class="table table-condensed")
                      tbody
                        tr
                          td #[strong Clan Level:]
                          td= cnt.clanLevel                           
                        tr
                          td #[strong Clan Points:]
                          td= cnt.clanPoints
                        tr
                          td #[strong Location:]
                          td= cnt.location.name
                        tr
                          td
                          td #[a(class="btn btn-primary" href="/clans/"+ cnt.tag.replace('#','') style="float:right;margin-top:10px;") Details]
            div(id="addClan" class="tab-pane fade in active")
              div(class="panel panel-default")
                div(class="panel-body")
                  div(class="input-group")
                    span(class="input-group-addon") #[img(src="/images/blank.gif" id="imgFlag" class="flag flag-" alt="Brazil")]
                    select(class="form-control" id="location" name='location' onchange="changeFlag(this)")
                      option(value="") Select a location...   
                      each location, i in locations 
                        option(value=location.id data-flag=location.countryCode)= location.name  
              h3 Find clans to add here.
              div(class="input-group")
                input(type="text" class="form-control" placeholder="Put your clan tag here..." name="addTag")
                span(class="input-group-btn")
                  //button(class="btn btn-default" name="btnAdd" type="submit") Add!
                  button(class="btn btn-default" name="btnSearch" type="submit")= _("Search")+"!" 
                  div(class="panel panel-default")
              a(data-toggle="collapse" class="btn btn-primary" data-target="#demo") Advanced Search
              div(id="demo" class="collapse") 
                form(class="form-horizontal" role="form")
                  div(class="form-group")
                    label(class="control-label" for="locationsList") War Frequency:
                    div(class="col-sm-10")
                      select(class="form-control" id="warFrequency" name='warFrequency')
                        option(value="")
                        option(value="always") Aways
                        option(value="moreThanOncePerWeek") Twice a week
                        option(value="oncePerWeek") Once a week
                        option(value="lessThanOncePerWeek") Rarely
                        option(value="never") Never
                        option(value="unknown") Unknown
                  div(class="form-group")
                    label(class="control-label" for="numMembers") Members:
                    div(class="input-group input-group" id="numMembers")  
                      input(type="number" min="1" max="50" class="form-control" id="minMembers" name="minMembers")
                      span(class="input-group-addon" id="sizing-addon1") to
                      input(type="number" min="1" max="50" class="form-control" id="maxMembers" name="maxMembers")                    
              if(searchResults)
                div(class="panel-heading")= _("Results")+":"
                div(class="panel-body table-responsive searchResults")
                  table(class="table table-condensed tableResults")
                    tbody      
                      each item, k in searchResults.items
                        tr
                          td= (k+1)+(".") 
                          td #[div(style="position:relative") #[image(src=item.badgeUrls.small title=item.name) #[div(class="clanLevel")= item.clanLevel]]]
                          td #[div(class="superCellFont fontSmall") #[span= item.name]] #[div= item.warFrequency]         
                          //td(class="superCellFont fontSmall")= item.clanLevel                                                 
                          td(class="superCellFont")= item.clanPoints
                          td= item.members 
                          td #[a(class="btn btn-primary" href="/clans/"+ item.tag.replace('#','') style="float:right;margin-top:10px;") Details]
            div(id="delClan" class="tab-pane fade")
              h3 Choose a clan to remove from your list. 
                div(class="form-group")
                  select(class="form-control" id="clanToDel" name='clanToDel')
                    each cnt, i in clans 
                      option(value=cnt.tag)= cnt.tag + ' ' + cnt.name
                button(class="btn btn-primary" type="submit" name="btnDel" style="float:right;") Remove                  
    else
      p Login or Register with:
      
      a(href="/login" class="btn btn-default authButtons") #[span(class="fa fa-user")]  Local Login
      a(href="/signup" class="btn btn-default authButtons") #[span(class="fa fa-user")]  Local Signup
      a(href="/auth/facebook" class="btn btn-primary authButtons") #[span(class="fa fa-facebook")]  Facebook
      a(href="/auth/twitter" class="btn btn-info authButtons") #[span(class="fa fa-twitter")]  Twitter
      a(href="/auth/google" class="btn btn-danger authButtons") #[span(class="fa fa-google-plus")]  Google 
