extends layout
 

block content
  div(class="jumbotron")
    //h1 #[span(class="fa fa-lock")] Node Authentication
    // show any messages that come back with authentication
    if user
      form(action="/" method="post")
        if user.clans.length == 0
          div(class="alert alert-info" role="alert") You have no clans added yet. Add one to start managing it.
            div(class="input-group")
              input(type="text" required="required" class="form-control" placeholder="Put your clan tag here..." name="clanTag")
              span(class="input-group-btn")
                button(class="btn btn-default" type="submit") Go!
        else
                  
          ul(class="nav nav-tabs")
            each tab in user.clans 
              li(class={active:tab.active}) #[a(data-toggle="tab" href="/#tab" + (user.clans.indexOf(tab)))=tab.tag]
            if user.clans.length < 3
              li #[a(data-toggle="tab" href="#addClan") #[span(class="glyphicon glyphicon-plus-sign")] Add clan]
            if user.clans.length > 0
              li #[a(data-toggle="tab" href="#delClan") #[span(class="glyphicon glyphicon-minus-sign")] Del clan]              
          div(class="tab-content")
            each cnt, i in user.clans 
              div(id="tab" + (i) class="tab-pane fade in " + (cnt.active ? "active" : ""))
                //Principal
                div(class="media" style="margin-top:15px;")                   
                  div(class="media-left")
                    image(src=clans[i].badgeUrls.small)
                  div(class="media-body")
                    ul(class="list-group")
                      li(class="list-group-item")
                        h4(class="media-heading")= clans[i].name
                        = clans[i].description
                    table(class="table table-condensed")
                      tbody
                        tr
                          td #[strong Clan Level:]
                          td= clans[i].clanLevel                           
                        tr
                          td #[strong Clan Points:]
                          td= clans[i].clanPoints
                        tr
                          td #[strong Location:]
                          td= clans[i].location.name
                        tr
                          td
                          td #[a(class="btn btn-primary" href="/clans/"+ user.clans[i].tag.replace('#','') style="float:right;margin-top:10px;") Details]
            div(id="addClan" class="tab-pane fade")
              h3 You can add more clans here.
              div(class="input-group")
                input(type="text" class="form-control" placeholder="Put your clan tag here..." name="addTag")
                span(class="input-group-btn")
                  button(class="btn btn-default" type="submit") Go!
            div(id="delClan" class="tab-pane fade")
              h3 Choose a clan to delete. 
                div(class="form-group")
                  select(class="form-control" id="clanToDel" name='clanToDel')
                    each cnt, i in user.clans 
                      option(value=cnt.tag)= clans[i].name
                button(class="btn btn-primary" type="submit" style="float:right;") Remove                  
    else
      p Login or Register with:
      
      a(href="/login" class="btn btn-default authButtons") #[span(class="fa fa-user")]  Local Login
      a(href="/signup" class="btn btn-default authButtons") #[span(class="fa fa-user")]  Local Signup
      a(href="/auth/facebook" class="btn btn-primary authButtons") #[span(class="fa fa-facebook")]  Facebook
      a(href="/auth/twitter" class="btn btn-info authButtons") #[span(class="fa fa-twitter")]  Twitter
      a(href="/auth/google" class="btn btn-danger authButtons") #[span(class="fa fa-google-plus")]  Google 