extends layout
 

block content  
  p.text-center #{locationName} Clans Rank
  //Chart
  div(class="panel panel-default")
    div(class="panel-heading")= _("Progress")+":"
    div(class="panel-body table-responsive")
      div(id="chart" class="chart-global" data-location=params.id)      
  //Search Results
  if(searchResults)
    div(class="panel-heading")= _("Results")+":"
    div(class="panel-body table-responsive searchResults")
      table(class="table table-results table-condensed tableResults")
        thead
          tr
            th: | #
            th: | Level
            th: | Name
            th: | Points
            th: | Members
            th: |     
        tbody      
          each item, k in searchResults.items
            tr
              td
                div.hidden= item.rank
                div.rank-number
                  div.rank-position(class="float-left width-50 rank-font")= item.rank
                  div(class="float-left width-50 rank-font")
                    span(class=(item.rank == item.previousRank ? "glyphicon glyphicon-minus": (item.previousRank < 1 || item.rank < item.previousRank ? "glyphicon glyphicon-triangle-top color-green" : "glyphicon glyphicon-triangle-bottom color-red")))
                    if(item.rank != item.previousRank)
                      div.rank-variation= item.previousRank > 0 ? item.previousRank - item.rank : "-"
              td #[div(style="position:relative") #[image( class="clan-badge" src=item.badgeUrls.small title=item.tag) #[div(class="clanLevel")= item.clanLevel]]]
              td #[div(class="superCellFont fontSmall") #[span= item.name] #[img(src="/images/blank.gif" class="flag flag-"+((item.location.countryCode?item.location.countryCode:'UN').toLowerCase()) alt="Country" title=item.location.name)]] #[div= _(item.warFrequency)]         
              //td(class="superCellFont fontSmall")= item.clanLevel                                                 
              td(class="superCellFont fontNormal")= item.clanPoints
              td= item.members 
              td #[a(class="btn btn-primary" href="/clans/"+ item.tag.replace('#','') style="float:right;margin-top:10px;") Details]
  script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
  script(type='text/javascript' src='/js/rank.js')
  script(type='text/javascript' src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
  script(type='text/javascript' src='https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js')
  link(rel="stylesheet", href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css")